.order-popup{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #17a2b8;
    min-height: 60px;
    box-shadow: 0px 5px 10px 5px gray;
    padding:15px 12px;
    width: 476px;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.d-none{
    display: none;
}
@media(max-width:480px){
    .order-popup{
        width: 100%;
    }
}
