.search-bar{
    border:1px solid  #17a2b8;
    display: flex;
    width:80%;
    height: 40px;
    border-radius: 0 10px;
    justify-content: center;
    margin-inline: auto;
    margin-bottom: 20px;
}  
.search-bar input{
    border-radius: 0 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
}

.search-bar button{
    border-radius: 0 9px;
    padding: 5px 10px;
    font-size: larger;
    border: none;
    cursor: pointer;
}

