.slider{
    display:grid;
    grid-template-columns: 1fr;
margin: 10px auto;
    padding: 20px 10px;
    box-shadow: 0px 10px 30px gray;
    border-radius: 10px;
    max-width: 90%;
}
.slider-img img{
    width: 120px;
    height: 120px;
    padding: 5px auto;
}
.slider-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}